.box {
    display: inline-block;
    vertical-align: top;
}

h1 {
    font-style: inherit;
}

.wrapper {
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    /* width: 470; */
    width: 960px;
}


/* .two { 
    display: right;
    box-sizing: border-box;
    margin: 20px;
    padding: 10px;
    border: 10px solid black;
    width: 470;
} */