* {
    margin: 0;
    padding: 0;
}

.site_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 940px;
    height: 100px;
}

#About {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.5px;
    font-weight: 700;
}

.navigation a:hover {
    color: #e1b623;
}

.navigation {
    display: flex;
    list-style: none;
    width: 485px;
    justify-content: space-between;
}

.services li:not(:last-child) {
    margin-right: 57px;
}

.navigation a {
    font-size: 14px;
    font-family: "Montserrat";
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    line-height: 2.929;
    z-index: 50;
}

.navigation li:not(:last-child) {
    margin-right: 57px;
}

.first-title {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.875;
    z-index: 42;
}

.proin_iaculis {
    font-size: 16px;
    font-family: "Droid Serif";
    color: rgb(119, 119, 119);
    font-style: italic;
    text-align: center;
    margin-bottom: 80px;
    z-index: 41;
}

.second_title {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 20px;
    z-index: 20;
}

.first-block {
    padding-bottom: 120px;
}

.services {
    display: flex;
    list-style: none;
    justify-content: center;
}

.title_of_paragraph {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    z-index: 38;
    text-align: center;
    margin-top: 24px;
}

.first_block_element::before {
    content: "";
    display: block;
    border: 2px solid rgb(254, 209, 54);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.icon-basket::before {
    background-image: url(../img/icons/icon-Basket.png);
}

.icon-laptop::before {
    background-image: url(../img/icons/Icon-Laptop.png);
}

.icon-locked::before {
    background-image: url(../img/icons/Icon-Locked.png);
}

.description {
    font-size: 14px;
    font-family: "Roboto Slab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
    width: 274px;
    height: 57px;
    z-index: 37;
    padding-top: 20px;
}

.second-block {
    position: relative;
    height: 680px;
    background: rgb(0, 0, 0);
}

.map-image {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.second_title {
    color: rgb(255, 255, 255);
}

.send-message {
    height: 315px;
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.form_input {
    width: 440px;
    height: 50px;
    border: none;
    border-radius: 3px;
    padding-left: 20px;
}

.name {
    position: absolute;
}

.email {
    position: absolute;
    top: 80px;
}

.subject {
    position: absolute;
    top: 160px;
}

textarea {
    width: 455px;
    height: 208px;
    position: absolute;
    right: 0;
    border: none;
    border-radius: 3px;
    padding: 20px;
    box-sizing: border-box;
}

.input_size {
    color: rgb(187, 187, 187);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 3.5;
    font-family: montserrat, sans-serif;
    font-weight: bold;
}

input[type="email"]:focus:invalid,
textarea[name="text_message"]:focus:invalid,
input[name="user_name"]:focus:invalid {
    outline: 2px solid red;
    transition: outline-color 6s;
}

input[type="email"]:focus:valid,
textarea[name="text_message"]:focus:valid,
input[name="user_name"]:focus:valid {
    outline: 2px solid green;
    transition: outline-color 0.4s;
}

.button {
    position: absolute;
    bottom: 0;
    padding: 22px 48px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: #e1b623;
    border: none;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    font-family: montserrat, sans-serif;
    font-weight: bold;
}


/*  */


/* .second-block {
    background-color: black;
    position: relative;
    height: 800px;
}

.map-image {
    float: right;
    position: absolute;
    right: 0;
    bottom: 20px;
}

.send-message {
    height: 315px;
    position: relative;
    width: 940px;
    margin: 0 auto;
}

form {
    width: 940px;
}

.form_input {
    width: 455px;
    height: 55px;
    border: none;
    border-radius: 3px;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

textarea {
    width: 455px;
    height: 210px;
    right: 0;
    position: absolute;
    border: none;
    border-radius: 3px;
    padding: 20px;
    box-sizing: border-box;
}

.form_input,
.form_text {
    color: rgb(187, 187, 187);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 3.5;
    font-family: montserrat, sans-serif;
    font-weight: bold;
}

input[type="email"]:focus:invalid,
textarea[name="text_message"]:focus:invalid,
input[name="user_name"]:focus:invalid {
    outline: 2px solid red;
    transition: outline-color 6s;
}

input[type="email"]:focus:valid,
textarea[name="text_message"]:focus:valid,
input[name="user_name"]:focus:valid {
    outline: 2px solid green;
    transition: outline-color 0.4s;
}

.button {
    width: 240px;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: #e1b623;
    font-size: 18px;
    font-weight: bold;
    font-family: montserrat, sans-serif;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
} */


/* .Title___E_Commerce {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 4.167;
    text-align: left;
    position: absolute;
    left: 311.937px;
    top: 402.497px;
    z-index: 38;
}

.Description {
    font-size: 14px;
    font-family: "Roboto Slab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 229.358px;
    top: 464.024px;
    width: 274px;
    height: 57px;
    z-index: 37;
} */


/* .Title_Contact_Us {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 570.937px;
    top: 743px;
    z-index: 20;
} */


/* .Title_Services {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.875;
    text-align: center;
    position: absolute;
    left: 600.497px;
    top: 169.5px;
    z-index: 42;
}

.Sub_Title {
    font-size: 16px;
    font-family: "Droid Serif";
    color: rgb(119, 119, 119);
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 548.568px;
    top: 238.689px;
    z-index: 41;
} */


/* .Services {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.929;
    text-align: center;
    position: absolute;
    left: 774.176px;
    top: 39.497px;
    z-index: 50;
}

.Services {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1400px;
    height: 1318px;
    z-index: 44;
}

.Title_Services {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.875;
    text-align: center;
    position: absolute;
    left: 600.497px;
    top: 169.5px;
    z-index: 43;
}

.Sub_Title {
    font-size: 16px;
    font-family: "Droid Serif";
    color: rgb(119, 119, 119);
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 548.568px;
    top: 238.689px;
    z-index: 42;
}

._1___E_Commerce {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1400px;
    height: 1318px;
    z-index: 41;
}

.Icon_Basket {
    background-color: rgb(254, 209, 54);
    position: absolute;
    left: 350px;
    top: 352px;
    width: 40px;
    height: 39px;
    z-index: 40;
}

.Circle_1 {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(254, 209, 54);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 331px;
    top: 333px;
    width: 72px;
    height: 71px;
    z-index: 39;
}

.Title___E_Commerce {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 4.167;
    text-align: left;
    position: absolute;
    left: 311.937px;
    top: 402.497px;
    z-index: 38;
}

.Description {
    font-size: 14px;
    font-family: "Roboto Slab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 229.358px;
    top: 464.024px;
    width: 274px;
    height: 57px;
    z-index: 37;
}

._2___Responsive_Web {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1400px;
    height: 1318px;
    z-index: 35;
}

.Icon_Laptop {
    background-color: rgb(254, 209, 54);
    position: absolute;
    left: 680px;
    top: 354px;
    width: 41px;
    height: 35px;
    z-index: 34;
}

.Circle_2 {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(254, 209, 54);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 661px;
    top: 333px;
    width: 72px;
    height: 71px;
    z-index: 33;
}

.Title___Responsive_Web {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 4.167;
    text-align: left;
    position: absolute;
    left: 627.937px;
    top: 477.135px;
    z-index: 32;
}

.Lorem_ipsum_dolor_sit_amet__consectetur_adipisc {
    font-size: 14px;
    font-family: "Roboto Slab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    z-index: 31;
}

.Description {
    font-size: 14px;
    font-family: "Roboto Slab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 559.831px;
    top: 464.024px;
    width: 274px;
    height: 57px;
    z-index: 30;
}

._3___Web_Security {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1400px;
    height: 1318px;
    z-index: 28;
}

.Icon_Locked {
    background-color: rgb(254, 209, 54);
    position: absolute;
    left: 1015px;
    top: 350px;
    width: 29px;
    height: 38px;
    z-index: 27;
}

.Circle_3 {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(254, 209, 54);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 991px;
    top: 333px;
    width: 72px;
    height: 71px;
    z-index: 26;
}

.Title___Marketing_Tools {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 4.167;
    text-align: left;
    position: absolute;
    left: 970.937px;
    top: 477.135px;
    z-index: 25;
}

.Description {
    font-size: 14px;
    font-family: "Roboto Slab";
    color: rgb(119, 119, 119);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 889.831px;
    top: 464.024px;
    width: 274px;
    height: 57px;
    z-index: 24;
} */


/* .button {
    position: absolute;
    bottom: 0;
    padding: 22px 48px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: #e1b623;
    border: none;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    font-family: montserrat, sans-serif;
    font-weight: bold;
  }
   */